body {

  padding: 20px;
}
.c1 {
  background-color: purple;
  color: white
}

.c2 {
  color: blue;
}

.c3 {
  background-color: aqua;
  border: 1px solid black;
}

.c4 {
  background-color: chartreuse;
  color: #fff;
}
.c5 {
  font-size: 30px;

}
